<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT BOOK</title>
    <!--https://cdnjs.com/libraries/Chart.js-->
    <!--https://ming9mon.tistory.com/107 -->
    <!-- CDN 작성 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

</head>
<body>


    <div align="center">
        <br><br>
        <h2>통계 API</h2>

        <div style="width: 600px; height: 600px; border: 1px solid black; text-align: center;">
            <!--차트가 그려질 부분-->
            <input type="hidden" id="x" value="<%= x %>">
            <input type="hidden" id="y" value="<%= y %>">
            <canvas id="myChart"></canvas>
            <br><br><br>
            <a href="/">돌아가기</a>
            <br><br><br>
        </div>
    </div>


    <script type="text/javascript">
        var context = document
            .getElementById('myChart')
            .getContext('2d');

        var x = document.getElementById("x").value;
        var xList = x.split(",");
        
        var y = document.getElementById("y").value;
        var yList = y.split(",");

        var myChart = new Chart(context, {
            type: 'pie', // 차트의 형태 (pie , bar, line, radar )
            data: { // 차트에 들어갈 데이터
                
                labels : xList,
                datasets: [
                    { //데이터
                        label: 'test1', //차트 제목
                        fill: false, // line 형태일 때, 선 안쪽을 채우는지 안채우는지
                   
                        data : yList,
                        backgroundColor: [
                            //색상
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            //경계선 색상
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1 //경계선 굵기
                    }
                ]
            },
            options: {
                scales: {
                    yAxes: [
                        {
                            ticks: {
                                beginAtZero: true
                            }
                        }
                    ]
                }
            }
        });
    </script>


  

</body>
</html>