<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

        <!-- 우편번호 검색 -->
        <script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
        <script>
            // 우편번호 검색
            function execDaumPostcode() {
                    new daum.Postcode({
                    oncomplete: function(data) {	
                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('memberZipcode').value = data.zonecode; //5자리 새우편번호 사용
                        document.getElementById('memberAddress1').value = data.roadAddress;
                        document.getElementById('memberAddress2').value = data.jibunAddress;
                    }
                }).open();
            }

        </script>
    
</head>
<body>
    <div align="center">
        <h1>우편번호 테스트</h1>
        <table border="1">
            <tr>
                <td> 우편번호</td>
                <td>
                    <input type="text" id="memberZipcode" name="memberZipcode">
                    <input type="button" value="주소 검색" onclick="execDaumPostcode()"> <br>
                </td>
            </tr>
            <tr>
                <td> 지번 주소 </td>
                <td><input type="text" id="memberAddress1" name="memberAddress1"></td>
            </tr>
            <tr>
                <td>도로명 주소</td>
                <td><input type="text" id="memberAddress2" name="memberAddress2"> </td>
            </tr>
        </table>
        <a href="/">돌아가기</a>
    </div>

    
</body>
</html>