<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div align="center">
        <h1>파일업로드1</h1>
        <form action="/file1Pro" method="post" enctype="multipart/form-data" >
            <input type="file" name="file1"> <input type="submit">
        </form>
        <br><br>
        <a href="/">돌아가기</a>
       
    </div>
</body>
</html>