<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS 응용</title>
    <style>
        table{
            border-collapse: collapse; 
        }
        tr{
            height: 30px;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div align="center">
        <h1> 비동기 통신</h1>
        <table border="1">
            <tr>
                <td>
                    <a href="/postForm">post테스트</a>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/joinCheckForm">폼 정규식 예외처리</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/ajaxForm">비동기 테스트</a>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/ajaxForm">댓글 게시판</a>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/ajaxForm">파일 업로드</a>
                </td>
            </tr>
        </table>
            <hr>

        <h1> API 활용</h1>
        <table border="1">
            <tr>
                <td>
                    <a href="/daumAddressApiForm">다음 우편번호 api 테스트</a>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/chartTableTest">차트 표 테스트 </a>
                </td>
            </tr>


            <tr>
                <td>
                    <a href="/kakaoMapApiTest1">카카오 지도 api 테스트1 </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="/kakaoMapApiTest2">카카오 지도 api 테스트2 </a>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/kakaoMapApiTest3">카카오 지도 api 테스트3 </a>
                </td>
            </tr>
        </table>
        <hr>

        <h1> 게시판 </h1>
        <table border="1">
            <tr>
                <td>
                    <a href="/boardList">댓글 게시판 </a>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/file1Form">파일 업로드 1 </a>
                </td>
            </tr>

            <tr>
                <td>
                    <a href="/file2Form">파일 업로드 2</a>
                </td>
            </tr>
        
        </table>

        <h1> 북 관리자 </h1>
        <table border="1">

            <tr>
                <td>
                    <a href="/bookList">북 리스트  </a>
                </td>
            </tr>
        
        </table>

    </div>
 



</body>
</html>
